
* {
  box-sizing: border-box;
}


body,html {
  height: 100%;
  margin: 0;
  background-color:#000000;
}

a {
  text-decoration: none;
}

ul li {
    list-style: none;
}


section {
  display: block;
  width: 100%;
  height: 700px;
  background: none;
  position: relative;
  color: white;
  float: left;
  padding: 50px;
}




/*헤더*/

#header {
  position: relative;
  width: 100%;
  height: 10%;
}


.slide:hover,
.slide:focus {
  box-shadow: inset 20em 0 0 0 #01FF00;
}


button {
  border: none;
  background: none;
  transition: 1.0s;
}

.navul, .navli {
  list-style: none;
}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Freckle Face', cursive;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.5s;
}

.overlay a:hover, .overlay a:focus {
    color: #000000;
}

.overlay .closebtn:hover {
  color: #01FF00;
}

.overlay .closebtn {
    position: absolute;
    left: 49.5%;
    top: 65%;
    font-size: 60px;
}

#header span {
color:#ffffff;
position: absolute;
left:49%;
top: 15%;
}



/*메인*/

#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("img/power.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  position: relative;
  width: 100%;
  height: 80%;
  padding: 80px;
}


#left {
  position: relative;
  width: 70%;
  height: 100%;
  text-align: center;
}

#title {
  position: relative;
  width: 100%;
  height: 25%;
  font-family: 'Freckle Face', cursive;
  color: #01FF00;
  font-size: 100px;
  line-height: 90px;
  text-align: center;
  padding: 0px;
  padding-right: 50px;
}

#text {
  position: relative;
  width: 100%;
  height: 75%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  padding: 20px;
}

#text span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #01FF00;
    word-spacing: 3px;
    letter-spacing: 3px;
}

#text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
}



/*푸터*/




#footer {
position: relative;
width: 100%;
height: 10%;
padding: 20px;
}

#footericon {
position: relative;
left: 45%;
width: 140px;
height: 30px;
padding: 0px;
}

#footertext{
position: relative;
text-align: center;
height: 25px;
font-family:'Roboto', sans-serif;
color: #ffffff;
font-weight: 400;
font-size: 15px;
word-spacing: 1px;
font-weight: 300;
padding: 0px;
padding-top: 10px;
}
